In [200]:
import requests
import pandas as pd

class ScriptData:
    def fetch_intraday_data(self, script):
        url = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={script}&interval=5min&apikey=B2BT8JP5OMX1745W"
        response = requests.get(url)
        if response.status_code == 200:
            self.data = response.json()
            return self.data
        else:
            return None
        
    def convert_intraday_data(self, script):
        if not hasattr(self, "data"):
            self.fetch_intraday_data(script)
        
        time_series = self.data["Time Series (5min)"]
        data = []
        for timestamp, values in time_series.items():
            open_val = float(values["1. open"])
            high_val = float(values["2. high"])
            low_val = float(values["3. low"])
            close_val = float(values["4. close"])
            volume_val = int(values["5. volume"])
            data.append([timestamp, open_val, high_val, low_val, close_val, volume_val])
        
        df = pd.DataFrame(data, columns=["timestamp", "open", "high", "low", "close", "volume"])
        df["timestamp"] = pd.to_datetime(df["timestamp"])
        return df
    
    def __getitem__(self, key):
        return self.data[key]
    
    def __setitem__(self, key, value):
        self.data[key] = value
    
    def __contains__(self, key):
        return key in self.data

In [201]:
script_data=ScriptData()

In [302]:
script_data.fetch_intraday_data('AAPL')

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-02-15 20:00:00',
  '4. Interval': '5min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (5min)': {'2023-02-15 20:00:00': {'1. open': '155.4800',
   '2. high': '155.5100',
   '3. low': '155.4800',
   '4. close': '155.4800',
   '5. volume': '14236'},
  '2023-02-15 19:55:00': {'1. open': '155.4800',
   '2. high': '155.5000',
   '3. low': '155.4800',
   '4. close': '155.4900',
   '5. volume': '2574'},
  '2023-02-15 19:50:00': {'1. open': '155.4399',
   '2. high': '155.4399',
   '3. low': '155.4399',
   '4. close': '155.4399',
   '5. volume': '477'},
  '2023-02-15 19:45:00': {'1. open': '155.4900',
   '2. high': '155.4900',
   '3. low': '155.4000',
   '4. close': '155.4000',
   '5. volume': '12929'},
  '2023-02-15 19:40:00': {'1. open': '155.4800',
   '2. high': '155.5000',
   '3. low': '155.4500',
   '4. close': '155.4900',
   '5. volume': '3467'},
  '2023-02-15 19:35:00': {'1. open': '155.4600',
   '2. high': '155.4600',
   '3. low': '155.4000',
   '4. close': '155.4600',
   '5. volume': '2937'},
  '2023-02-15 19:30:00': {'1. open': '155.4700',
   '2. high': '155.4900',
   '3. low': '155.4700',
   '4. close': '155.4700',
   '5. volume': '1833'},
  '2023-02-15 19:25:00': {'1. open': '155.4800',
   '2. high': '155.4900',
   '3. low': '155.4400',
   '4. close': '155.4700',
   '5. volume': '3116'},
  '2023-02-15 19:20:00': {'1. open': '155.4800',
   '2. high': '155.4900',
   '3. low': '155.4400',
   '4. close': '155.4400',
   '5. volume': '4339'},
  '2023-02-15 19:15:00': {'1. open': '155.4700',
   '2. high': '155.4800',
   '3. low': '155.4700',
   '4. close': '155.4800',
   '5. volume': '1369'},
  '2023-02-15 19:10:00': {'1. open': '155.3900',
   '2. high': '155.5000',
   '3. low': '155.3700',
   '4. close': '155.4300',
   '5. volume': '15150'},
  '2023-02-15 19:05:00': {'1. open': '155.3100',
   '2. high': '155.3700',
   '3. low': '155.3000',
   '4. close': '155.3700',
   '5. volume': '1702'},
  '2023-02-15 19:00:00': {'1. open': '155.3400',
   '2. high': '155.3700',
   '3. low': '155.3200',
   '4. close': '155.3300',
   '5. volume': '2247'},
  '2023-02-15 18:55:00': {'1. open': '155.3600',
   '2. high': '155.3600',
   '3. low': '155.3400',
   '4. close': '155.3400',
   '5. volume': '1928'},
  '2023-02-15 18:50:00': {'1. open': '155.3900',
   '2. high': '155.3900',
   '3. low': '155.3600',
   '4. close': '155.3700',
   '5. volume': '3277'},
  '2023-02-15 18:45:00': {'1. open': '155.3600',
   '2. high': '155.3700',
   '3. low': '155.3600',
   '4. close': '155.3700',
   '5. volume': '1349'},
  '2023-02-15 18:35:00': {'1. open': '155.3300',
   '2. high': '155.3700',
   '3. low': '155.3300',
   '4. close': '155.3500',
   '5. volume': '6083'},
  '2023-02-15 18:30:00': {'1. open': '155.2800',
   '2. high': '155.3200',
   '3. low': '155.2800',
   '4. close': '155.3200',
   '5. volume': '8503'},
  '2023-02-15 18:25:00': {'1. open': '155.2600',
   '2. high': '155.2700',
   '3. low': '155.2600',
   '4. close': '155.2600',
   '5. volume': '1763'},
  '2023-02-15 18:20:00': {'1. open': '155.2600',
   '2. high': '155.2600',
   '3. low': '155.2600',
   '4. close': '155.2600',
   '5. volume': '459'},
  '2023-02-15 18:15:00': {'1. open': '155.2700',
   '2. high': '155.2700',
   '3. low': '155.2700',
   '4. close': '155.2700',
   '5. volume': '733'},
  '2023-02-15 18:10:00': {'1. open': '155.2601',
   '2. high': '155.2700',
   '3. low': '155.2601',
   '4. close': '155.2700',
   '5. volume': '2266'},
  '2023-02-15 18:05:00': {'1. open': '155.2600',
   '2. high': '155.2900',
   '3. low': '155.2600',
   '4. close': '155.2800',
   '5. volume': '5193'},
  '2023-02-15 18:00:00': {'1. open': '155.2900',
   '2. high': '155.2900',
   '3. low': '155.2900',
   '4. close': '155.2900',
   '5. volume': '1627'},
  '2023-02-15 17:55:00': {'1. open': '155.2800',
   '2. high': '155.2800',
   '3. low': '155.2600',
   '4. close': '155.2700',
   '5. volume': '2230'},
  '2023-02-15 17:50:00': {'1. open': '155.2900',
   '2. high': '155.2900',
   '3. low': '155.2900',
   '4. close': '155.2900',
   '5. volume': '214'},
  '2023-02-15 17:45:00': {'1. open': '155.2706',
   '2. high': '155.2900',
   '3. low': '155.2700',
   '4. close': '155.2900',
   '5. volume': '1828'},
  '2023-02-15 17:40:00': {'1. open': '155.2800',
   '2. high': '155.3300',
   '3. low': '155.2700',
   '4. close': '155.2710',
   '5. volume': '16295'},
  '2023-02-15 17:35:00': {'1. open': '155.2700',
   '2. high': '155.3000',
   '3. low': '155.2700',
   '4. close': '155.3000',
   '5. volume': '2546'},
  '2023-02-15 17:30:00': {'1. open': '155.2600',
   '2. high': '155.3000',
   '3. low': '155.2600',
   '4. close': '155.2800',
   '5. volume': '5771'},
  '2023-02-15 17:25:00': {'1. open': '155.2404',
   '2. high': '155.3000',
   '3. low': '155.2404',
   '4. close': '155.2800',
   '5. volume': '2833'},
  '2023-02-15 17:20:00': {'1. open': '155.2500',
   '2. high': '155.3000',
   '3. low': '155.2500',
   '4. close': '155.3000',
   '5. volume': '1236'},
  '2023-02-15 17:15:00': {'1. open': '155.2900',
   '2. high': '155.2900',
   '3. low': '155.2500',
   '4. close': '155.2500',
   '5. volume': '2772'},
  '2023-02-15 17:10:00': {'1. open': '155.3000',
   '2. high': '155.3085',
   '3. low': '155.2900',
   '4. close': '155.2900',
   '5. volume': '917'},
  '2023-02-15 17:05:00': {'1. open': '155.2900',
   '2. high': '155.3100',
   '3. low': '155.2900',
   '4. close': '155.3000',
   '5. volume': '5333'},
  '2023-02-15 17:00:00': {'1. open': '155.3100',
   '2. high': '155.3100',
   '3. low': '155.3000',
   '4. close': '155.3000',
   '5. volume': '4206'},
  '2023-02-15 16:55:00': {'1. open': '155.3000',
   '2. high': '155.3300',
   '3. low': '155.2800',
   '4. close': '155.3000',
   '5. volume': '5213'},
  '2023-02-15 16:50:00': {'1. open': '155.3500',
   '2. high': '155.3700',
   '3. low': '155.3100',
   '4. close': '155.3100',
   '5. volume': '3721'},
  '2023-02-15 16:45:00': {'1. open': '155.3700',
   '2. high': '155.3800',
   '3. low': '155.3500',
   '4. close': '155.3500',
   '5. volume': '4938'},
  '2023-02-15 16:40:00': {'1. open': '155.3400',
   '2. high': '155.3700',
   '3. low': '155.3300',
   '4. close': '155.3300',
   '5. volume': '24577'},
  '2023-02-15 16:35:00': {'1. open': '155.3300',
   '2. high': '155.3500',
   '3. low': '155.3300',
   '4. close': '155.3400',
   '5. volume': '3879'},
  '2023-02-15 16:30:00': {'1. open': '155.3500',
   '2. high': '155.3500',
   '3. low': '155.3300',
   '4. close': '155.3500',
   '5. volume': '8215'},
  '2023-02-15 16:25:00': {'1. open': '155.3800',
   '2. high': '155.3801',
   '3. low': '155.3139',
   '4. close': '155.3300',
   '5. volume': '9225'},
  '2023-02-15 16:20:00': {'1. open': '155.3100',
   '2. high': '155.4400',
   '3. low': '155.3100',
   '4. close': '155.4200',
   '5. volume': '73105'},
  '2023-02-15 16:15:00': {'1. open': '155.3700',
   '2. high': '155.4200',
   '3. low': '155.3100',
   '4. close': '155.3100',
   '5. volume': '12080'},
  '2023-02-15 16:10:00': {'1. open': '155.2500',
   '2. high': '155.4500',
   '3. low': '155.2500',
   '4. close': '155.3853',
   '5. volume': '135404'},
  '2023-02-15 16:05:00': {'1. open': '155.3200',
   '2. high': '155.4000',
   '3. low': '155.0800',
   '4. close': '155.2200',
   '5. volume': '982074'},
  '2023-02-15 16:00:00': {'1. open': '154.8300',
   '2. high': '155.3800',
   '3. low': '154.7600',
   '4. close': '155.3600',
   '5. volume': '1919649'},
  '2023-02-15 15:55:00': {'1. open': '154.9000',
   '2. high': '154.9900',
   '3. low': '154.6700',
   '4. close': '154.8350',
   '5. volume': '996680'},
  '2023-02-15 15:50:00': {'1. open': '154.8700',
   '2. high': '154.9900',
   '3. low': '154.8123',
   '4. close': '154.8936',
   '5. volume': '536006'},
  '2023-02-15 15:45:00': {'1. open': '154.9600',
   '2. high': '155.0800',
   '3. low': '154.7900',
   '4. close': '154.8800',
   '5. volume': '559007'},
  '2023-02-15 15:40:00': {'1. open': '154.8850',
   '2. high': '155.0200',
   '3. low': '154.8200',
   '4. close': '154.9550',
   '5. volume': '604981'},
  '2023-02-15 15:35:00': {'1. open': '154.8500',
   '2. high': '154.9100',
   '3. low': '154.7900',
   '4. close': '154.8950',
   '5. volume': '462328'},
  '2023-02-15 15:30:00': {'1. open': '154.8337',
   '2. high': '154.8900',
   '3. low': '154.7217',
   '4. close': '154.8499',
   '5. volume': '450118'},
  '2023-02-15 15:25:00': {'1. open': '155.0600',
   '2. high': '155.1299',
   '3. low': '154.7900',
   '4. close': '154.8340',
   '5. volume': '417274'},
  '2023-02-15 15:20:00': {'1. open': '155.2400',
   '2. high': '155.2800',
   '3. low': '154.9800',
   '4. close': '155.0600',
   '5. volume': '557554'},
  '2023-02-15 15:15:00': {'1. open': '155.2350',
   '2. high': '155.2700',
   '3. low': '155.1300',
   '4. close': '155.2150',
   '5. volume': '474029'},
  '2023-02-15 15:10:00': {'1. open': '155.0950',
   '2. high': '155.2800',
   '3. low': '155.0950',
   '4. close': '155.2400',
   '5. volume': '401686'},
  '2023-02-15 15:05:00': {'1. open': '155.0200',
   '2. high': '155.1100',
   '3. low': '155.0050',
   '4. close': '155.1000',
   '5. volume': '315117'},
  '2023-02-15 15:00:00': {'1. open': '155.1000',
   '2. high': '155.1400',
   '3. low': '154.9200',
   '4. close': '155.0200',
   '5. volume': '437113'},
  '2023-02-15 14:55:00': {'1. open': '155.2100',
   '2. high': '155.2900',
   '3. low': '155.0400',
   '4. close': '155.0900',
   '5. volume': '513742'},
  '2023-02-15 14:50:00': {'1. open': '155.4000',
   '2. high': '155.4700',
   '3. low': '155.1500',
   '4. close': '155.2000',
   '5. volume': '536081'},
  '2023-02-15 14:45:00': {'1. open': '155.3950',
   '2. high': '155.4000',
   '3. low': '155.2800',
   '4. close': '155.3950',
   '5. volume': '502895'},
  '2023-02-15 14:40:00': {'1. open': '155.3350',
   '2. high': '155.4100',
   '3. low': '155.2500',
   '4. close': '155.3903',
   '5. volume': '503191'},
  '2023-02-15 14:35:00': {'1. open': '155.2400',
   '2. high': '155.3750',
   '3. low': '155.2350',
   '4. close': '155.3377',
   '5. volume': '726676'},
  '2023-02-15 14:30:00': {'1. open': '155.1717',
   '2. high': '155.2500',
   '3. low': '155.0500',
   '4. close': '155.2321',
   '5. volume': '364403'},
  '2023-02-15 14:25:00': {'1. open': '155.1150',
   '2. high': '155.2400',
   '3. low': '155.0900',
   '4. close': '155.1700',
   '5. volume': '374207'},
  '2023-02-15 14:20:00': {'1. open': '155.2900',
   '2. high': '155.3255',
   '3. low': '155.1000',
   '4. close': '155.1199',
   '5. volume': '407305'},
  '2023-02-15 14:15:00': {'1. open': '155.1799',
   '2. high': '155.3100',
   '3. low': '155.1300',
   '4. close': '155.2850',
   '5. volume': '456764'},
  '2023-02-15 14:10:00': {'1. open': '154.9800',
   '2. high': '155.2900',
   '3. low': '154.9600',
   '4. close': '155.1719',
   '5. volume': '518241'},
  '2023-02-15 14:05:00': {'1. open': '155.0100',
   '2. high': '155.0500',
   '3. low': '154.9000',
   '4. close': '154.9790',
   '5. volume': '335685'},
  '2023-02-15 14:00:00': {'1. open': '155.0299',
   '2. high': '155.0299',
   '3. low': '154.8944',
   '4. close': '155.0100',
   '5. volume': '487764'},
  '2023-02-15 13:55:00': {'1. open': '154.8900',
   '2. high': '155.0500',
   '3. low': '154.8700',
   '4. close': '155.0200',
   '5. volume': '583847'},
  '2023-02-15 13:50:00': {'1. open': '154.7900',
   '2. high': '154.9400',
   '3. low': '154.7700',
   '4. close': '154.8885',
   '5. volume': '518510'},
  '2023-02-15 13:45:00': {'1. open': '154.5400',
   '2. high': '154.8000',
   '3. low': '154.4800',
   '4. close': '154.7900',
   '5. volume': '588725'},
  '2023-02-15 13:40:00': {'1. open': '154.3581',
   '2. high': '154.5500',
   '3. low': '154.2900',
   '4. close': '154.5400',
   '5. volume': '440645'},
  '2023-02-15 13:35:00': {'1. open': '154.3800',
   '2. high': '154.4600',
   '3. low': '154.1500',
   '4. close': '154.3499',
   '5. volume': '933440'},
  '2023-02-15 13:30:00': {'1. open': '154.2250',
   '2. high': '154.4000',
   '3. low': '154.1800',
   '4. close': '154.3750',
   '5. volume': '371022'},
  '2023-02-15 13:25:00': {'1. open': '154.2400',
   '2. high': '154.3300',
   '3. low': '154.1900',
   '4. close': '154.2500',
   '5. volume': '378538'},
  '2023-02-15 13:20:00': {'1. open': '154.1900',
   '2. high': '154.2499',
   '3. low': '154.0400',
   '4. close': '154.2325',
   '5. volume': '387140'},
  '2023-02-15 13:15:00': {'1. open': '153.9924',
   '2. high': '154.2800',
   '3. low': '153.9700',
   '4. close': '154.1845',
   '5. volume': '463740'},
  '2023-02-15 13:10:00': {'1. open': '153.9500',
   '2. high': '154.0400',
   '3. low': '153.7150',
   '4. close': '154.0000',
   '5. volume': '580940'},
  '2023-02-15 13:05:00': {'1. open': '154.0900',
   '2. high': '154.2800',
   '3. low': '153.9400',
   '4. close': '153.9510',
   '5. volume': '506085'},
  '2023-02-15 13:00:00': {'1. open': '154.1950',
   '2. high': '154.2900',
   '3. low': '153.9705',
   '4. close': '154.0700',
   '5. volume': '519729'},
  '2023-02-15 12:55:00': {'1. open': '154.3200',
   '2. high': '154.3925',
   '3. low': '154.1500',
   '4. close': '154.1800',
   '5. volume': '524379'},
  '2023-02-15 12:50:00': {'1. open': '154.5901',
   '2. high': '154.6400',
   '3. low': '154.2200',
   '4. close': '154.3172',
   '5. volume': '768727'},
  '2023-02-15 12:45:00': {'1. open': '154.1000',
   '2. high': '154.7000',
   '3. low': '154.0900',
   '4. close': '154.5900',
   '5. volume': '977268'},
  '2023-02-15 12:40:00': {'1. open': '154.8500',
   '2. high': '154.9800',
   '3. low': '153.5000',
   '4. close': '154.1000',
   '5. volume': '2248719'},
  '2023-02-15 12:35:00': {'1. open': '154.6502',
   '2. high': '154.9000',
   '3. low': '154.6000',
   '4. close': '154.8615',
   '5. volume': '1381880'},
  '2023-02-15 12:30:00': {'1. open': '154.8350',
   '2. high': '154.9100',
   '3. low': '154.5700',
   '4. close': '154.6500',
   '5. volume': '465847'},
  '2023-02-15 12:25:00': {'1. open': '154.8800',
   '2. high': '154.9500',
   '3. low': '154.7600',
   '4. close': '154.8347',
   '5. volume': '444447'},
  '2023-02-15 12:20:00': {'1. open': '154.8700',
   '2. high': '154.9600',
   '3. low': '154.7200',
   '4. close': '154.8800',
   '5. volume': '385312'},
  '2023-02-15 12:15:00': {'1. open': '154.8450',
   '2. high': '154.9681',
   '3. low': '154.7500',
   '4. close': '154.8900',
   '5. volume': '339205'},
  '2023-02-15 12:10:00': {'1. open': '155.1400',
   '2. high': '155.2038',
   '3. low': '154.7100',
   '4. close': '154.8557',
   '5. volume': '545931'},
  '2023-02-15 12:05:00': {'1. open': '155.2600',
   '2. high': '155.3975',
   '3. low': '155.0700',
   '4. close': '155.1450',
   '5. volume': '638449'},
  '2023-02-15 12:00:00': {'1. open': '155.3199',
   '2. high': '155.4300',
   '3. low': '155.2300',
   '4. close': '155.2500',
   '5. volume': '825804'},
  '2023-02-15 11:55:00': {'1. open': '155.3100',
   '2. high': '155.5000',
   '3. low': '155.2800',
   '4. close': '155.3100',
   '5. volume': '800875'},
  '2023-02-15 11:50:00': {'1. open': '154.9700',
   '2. high': '155.3500',
   '3. low': '154.9200',
   '4. close': '155.3100',
   '5. volume': '1624024'},
  '2023-02-15 11:45:00': {'1. open': '154.7850',
   '2. high': '154.9750',
   '3. low': '154.7600',
   '4. close': '154.9600',
   '5. volume': '815483'},
  '2023-02-15 11:40:00': {'1. open': '154.6299',
   '2. high': '154.8801',
   '3. low': '154.5800',
   '4. close': '154.7874',
   '5. volume': '755303'}}}

In [303]:
script_data['AAPL']=script_data.convert_intraday_data('AAPL')
script_data['AAPL']

             timestamp      open      high       low     close   volume
0  2023-02-15 20:00:00  155.4800  155.5100  155.4800  155.4800    14236
1  2023-02-15 19:55:00  155.4800  155.5000  155.4800  155.4900     2574
2  2023-02-15 19:50:00  155.4399  155.4399  155.4399  155.4399      477
3  2023-02-15 19:45:00  155.4900  155.4900  155.4000  155.4000    12929
4  2023-02-15 19:40:00  155.4800  155.5000  155.4500  155.4900     3467
..                 ...       ...       ...       ...       ...      ...
95 2023-02-15 12:00:00  155.3199  155.4300  155.2300  155.2500   825804
96 2023-02-15 11:55:00  155.3100  155.5000  155.2800  155.3100   800875
97 2023-02-15 11:50:00  154.9700  155.3500  154.9200  155.3100  1624024
98 2023-02-15 11:45:00  154.7850  154.9750  154.7600  154.9600   815483
99 2023-02-15 11:40:00  154.6299  154.8801  154.5800  154.7874   755303

[100 rows x 6 columns]

In [304]:
def indicator1(df, timeperiod):
    ma = df['close'].rolling(timeperiod).mean()
    result = pd.DataFrame({'timestamp': df['timestamp'], 'indicator': ma})
    return result

In [305]:
class Strategy(ScriptData):
    def __init__(self, script):
        self.script_data=self.convert_intraday_data(script)
        
        
    def get_script_data(self):
        self.df = self.script_data
        return self.df
    
    def compute_indicator(self, timeperiod):
        self.indicator_data = indicator1(self.df, timeperiod)
        return self.indicator_data

    def get_signals(self):
        signals = pd.DataFrame({"timestamp": self.df["timestamp"], "signal": "NO_SIGNAL"})
        for i in range(1, len(self.df)):
            if self.indicator_data.loc[i,'indicator'] > self.df["close"].iloc[i] and self.indicator_data.loc[i-1,'indicator'] <= self.df["close"].iloc[i-1]:
                signals.loc[i, "signal"] = "BUY"
            elif self.indicator_data.loc[i,'indicator'] < self.df["close"].iloc[i] and self.indicator_data.loc[i-1,'indicator'] >= self.df["close"].iloc[i-1]:
                signals.loc[i, "signal"] = "SELL"
        self.signals = signals[signals["signal"].isin(["BUY", "SELL"])]
        return self.signals

In [306]:
strategy=Strategy("AAPL")

In [307]:
strategy.get_script_data()

             timestamp      open      high       low     close   volume
0  2023-02-15 20:00:00  155.4800  155.5100  155.4800  155.4800    14236
1  2023-02-15 19:55:00  155.4800  155.5000  155.4800  155.4900     2574
2  2023-02-15 19:50:00  155.4399  155.4399  155.4399  155.4399      477
3  2023-02-15 19:45:00  155.4900  155.4900  155.4000  155.4000    12929
4  2023-02-15 19:40:00  155.4800  155.5000  155.4500  155.4900     3467
..                 ...       ...       ...       ...       ...      ...
95 2023-02-15 12:00:00  155.3199  155.4300  155.2300  155.2500   825804
96 2023-02-15 11:55:00  155.3100  155.5000  155.2800  155.3100   800875
97 2023-02-15 11:50:00  154.9700  155.3500  154.9200  155.3100  1624024
98 2023-02-15 11:45:00  154.7850  154.9750  154.7600  154.9600   815483
99 2023-02-15 11:40:00  154.6299  154.8801  154.5800  154.7874   755303

[100 rows x 6 columns]

In [308]:
strategy.compute_indicator(5)

             timestamp  indicator
0  2023-02-15 20:00:00        NaN
1  2023-02-15 19:55:00        NaN
2  2023-02-15 19:50:00        NaN
3  2023-02-15 19:45:00        NaN
4  2023-02-15 19:40:00  155.45998
..                 ...        ...
95 2023-02-15 12:00:00  155.00414
96 2023-02-15 11:55:00  155.09014
97 2023-02-15 11:50:00  155.17414
98 2023-02-15 11:45:00  155.19500
99 2023-02-15 11:40:00  155.12348

[100 rows x 2 columns]

In [309]:
strategy.get_signals()

             timestamp signal
8  2023-02-15 19:20:00    BUY
9  2023-02-15 19:15:00   SELL
10 2023-02-15 19:10:00    BUY
14 2023-02-15 18:50:00   SELL
16 2023-02-15 18:35:00    BUY
22 2023-02-15 18:05:00   SELL
24 2023-02-15 17:55:00    BUY
25 2023-02-15 17:50:00   SELL
27 2023-02-15 17:40:00    BUY
28 2023-02-15 17:35:00   SELL
29 2023-02-15 17:30:00    BUY
31 2023-02-15 17:20:00   SELL
32 2023-02-15 17:15:00    BUY
33 2023-02-15 17:10:00   SELL
42 2023-02-15 16:25:00    BUY
43 2023-02-15 16:20:00   SELL
44 2023-02-15 16:15:00    BUY
45 2023-02-15 16:10:00   SELL
46 2023-02-15 16:05:00    BUY
47 2023-02-15 16:00:00   SELL
48 2023-02-15 15:55:00    BUY
52 2023-02-15 15:35:00   SELL
53 2023-02-15 15:30:00    BUY
55 2023-02-15 15:20:00   SELL
59 2023-02-15 15:00:00    BUY
61 2023-02-15 14:50:00   SELL
65 2023-02-15 14:30:00    BUY
68 2023-02-15 14:15:00   SELL
69 2023-02-15 14:10:00    BUY
84 2023-02-15 12:55:00   SELL
87 2023-02-15 12:40:00    BUY
88 2023-02-15 12:35:00   SELL
98 2023-02-15 11:45:00    BUY